<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adding Authors Page</title>
</head>
<body>
<%  if (!isAuthenticated){ %>
    <br>
    <div class="alert alert-warning">
    <a href="/login">You must be logged in add an author</a>
    </div>
  <%  } else {%>
  <form action="/authors" method="post">
    <p>
    <label for="name">Name</label>
      <input type="text" name="author[name]" id="name" autofocus>
    </p>
    <p>
      <label for="age">Age:</label>
      <input type="text" name="author[age]" id="age">
    </p>
    <input type="submit" value="Save">
  </form>
  <% } %>
</body>
</html>